    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        overflow: hidden;
    }
    
    main {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        background: #09090A;
    }
    
    img {
        width: 100%;
        animation: toRight 1s ease 0s 1 normal forwards;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        background: #09090A;
        width: 100vw;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    
    .title {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        font-size: 1.5rem;
        width: 100%;
        color: #F2F7FF;
        margin-bottom: 80px;
    }
    
    .calculator {

        display: flex;
        flex-direction: column;
        width: 40%;
        height: 65%;
        padding-bottom: 50px;
    }

    
    .ilustration {
        width: 40%;
        height: 65%;
    }
    
    .input {
        display: flex;
        align-items: center;
        margin-bottom: 10px
    }

    
    .input input {
        width: 80%;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: 0;
        font: bold 1.5rem serif;
        text-align: center;
    }

    .input label {
        font: bold 1.2rem serif;
        font-family: 'Poppins', sans-serif;
        color: #F2F7FF
        
    }
    #label-name, #label-height, #label-weight{
        color: #2B2D33;
        position: absolute;
        top: 8px;
        left: 65px;
        transition: .5s;
        background: transparent;
    }
    
    @media (max-width: 800px){
        #label-name, #label-height, #label-weight{
            top: -15px;
            left: 6vw;
            background: linear-gradient(to bottom, transparent, white 60%);
        }
    }
    
    #name:focus ~ #label-name{
        transform: translate(-5px,-25px) scale(.7);
        background: linear-gradient(to bottom, transparent, white 60%);
        color: red;
    }
    
    #height:focus ~ #label-height{
        transform: translate(-5px,-25px) scale(.7);
        background: linear-gradient(to bottom, transparent, white 60%);
        color: red;
    }
    
    #weight:focus ~ #label-weight{
        transform: translate(-5px,-25px) scale(.7);
        background: linear-gradient(to bottom, transparent, white 60%);
        color: red;
    }

    .direction {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 20px;
    }
    
    .rodape {
        margin-top: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .checkBoxMasc {
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
    
    .checkBoxFemin {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    
    #inputCheck {
        width: 30px;
    }


    
    button {
        width: 80%;
        height: 40px;
        font: bold .8rem serif;
        background: #09090A;
        color: #F2F7FF;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        border: none;
        transition: .7;
        background-color: #2D2B33;
    }

    #calcular:hover{
        background-color: #3B3B4A
    }
    
    .result {
        display: flex;
        margin-top: 20px;
        align-items: center;
        width: 80%;
        height: 150px;
        border-radius: 5px;
        border: 2px solid #F2F7FF;
        box-shadow: 0px 0px 10px #09090A;
        background: #09090A;
        color: #F2F7FF;
        padding: 20px;
        box-sizing: border-box;
        user-select: none;
        font-family: 'Poppins', sans-serif;
    }
    
    .man,
    .woman {
        display: none;
    }
    
    .modal-container {
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .modal-container.ativo {
        display: flex;
    }
    
    .modal {
        background-color: white;
        padding: 40px;
        box-shadow: 0 0 0 10px white;
        position: relative;
        min-width: 300px;
    }
    
    @keyframes modalAtivo {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateY(-250px);
        }
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0);
        }
        55% {
            animation-timing-function: ease-in;
            transform: translateY(-65px);
        }
        72% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
        81% {
            animation-timing-function: ease-in;
            transform: translateY(-28px);
        }
        90% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
        95% {
            animation-timing-function: ease-in;
            transform: translateY(-8px);
        }
        100% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    }
    
    .ativo .modal {
        animation: modalAtivo 1s ease 0s 1 normal forwards;
    }
    
    .fechar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid white;
        top: -30px;
        right: -30px;
        position: absolute;
        box-shadow: 0 4px 4px 0 rgba(0, 0, .3);
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }
    
    .danger {
        height: 100vh;
        width: 100%;
        background: rgba(241, 27, 27, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        display: none;
        justify-content: center;
        align-items: center;
        animation: myAnim 3s infinite;
        z-index: 0;
    }
    
    @keyframes myAnim {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }
    /* FIREWORKS*/
    
    .pyro {
        width: 100%;
        height: 100%;
        display: none;
    }
    
    .pyro>.before,
    .pyro>.after {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
        -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
        animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    }
    
    .pyro>.after {
        -moz-animation-delay: 1.25s, 1.25s, 1.25s;
        -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
        -o-animation-delay: 1.25s, 1.25s, 1.25s;
        -ms-animation-delay: 1.25s, 1.25s, 1.25s;
        animation-delay: 1.25s, 1.25s, 1.25s;
        -moz-animation-duration: 1.25s, 1.25s, 6.25s;
        -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
        -o-animation-duration: 1.25s, 1.25s, 6.25s;
        -ms-animation-duration: 1.25s, 1.25s, 6.25s;
        animation-duration: 1.25s, 1.25s, 6.25s;
    }
    
    @-webkit-keyframes bang {
        from {
            box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
        }
    }
    
    @-moz-keyframes bang {
        from {
            box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
        }
    }
    
    @-o-keyframes bang {
        from {
            box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
        }
    }
    
    @-ms-keyframes bang {
        from {
            box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
        }
    }
    
    @keyframes bang {
        from {
            box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
        }
    }
    
    @-webkit-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }
    
    @-moz-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }
    
    @-o-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }
    
    @-ms-keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }
    
    @keyframes gravity {
        to {
            transform: translateY(200px);
            -moz-transform: translateY(200px);
            -webkit-transform: translateY(200px);
            -o-transform: translateY(200px);
            -ms-transform: translateY(200px);
            opacity: 0;
        }
    }
    
    @-webkit-keyframes position {
        0%,
        19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%,
        39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%,
        59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%,
        79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%,
        99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }
    
    @-moz-keyframes position {
        0%,
        19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%,
        39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%,
        59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%,
        79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%,
        99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }
    
    @-o-keyframes position {
        0%,
        19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%,
        39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%,
        59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%,
        79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%,
        99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }
    
    @-ms-keyframes position {
        0%,
        19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%,
        39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%,
        59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%,
        79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%,
        99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }
    
    @keyframes position {
        0%,
        19.9% {
            margin-top: 10%;
            margin-left: 40%;
        }
        20%,
        39.9% {
            margin-top: 40%;
            margin-left: 30%;
        }
        40%,
        59.9% {
            margin-top: 20%;
            margin-left: 70%;
        }
        60%,
        79.9% {
            margin-top: 30%;
            margin-left: 20%;
        }
        80%,
        99.9% {
            margin-top: 30%;
            margin-left: 80%;
        }
    }